body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Styles for the stream title */
.title-wrapper {
  margin: 20px 0px 2px;
  display: inline-block;
}

.left, .right {
  position: relative;
  height: 70px;
  width: 350px;
  background-color: #bc1142;
  float: left;
  font-size: 55px;
  font-weight: normal;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}

.left span, .right span {
  display: block;
  padding: 6px 6px 6px 15px;
}

.left:after {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 70px solid #bc1142;
  border-bottom: 50px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  right: -50px;
}

.right {
  margin-left: 60px;
  width: 125px;
  color: #bc1142;
  background-color: #fff;
}

.right:before {
  content: '';
  line-height: 0;
  font-size: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 70px solid #fff;
  border-left: 50px solid transparent;
  border-right: 0px solid #fff;
  position: absolute;
  top: -50px;
  left: -50px;
}

/* Styles for the task list */
.task-list-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2px 0 20px;
  width: 320px;
}

.task-list {
  margin: 5px 0;
  padding: 20px 0;
  list-style-type: none;
}

.task-list li {
  margin: 0;
  padding: 6px 20px;
}

.task-list li.active {
  color: #000;
  background-color: #fff;
}
